{% extends 'base.html' %}
{% block title %}nyheder{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
<body style="background-image: url(/static/3.jpg); background-size: cover;">
    
   
    <div class="container mt-4">
        <div class="row">
            <!-- Kort 1 -->
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ost_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ost</h5>
                        <p class="card-text">Køb den nye ost med kommen og bønner.</p>
                        <a href="https://henriwillig.com/en/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <!-- Kort 2 -->
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ost_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://henriwillig.com/en/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <!-- Kort 3 -->
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ost_3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://henriwillig.com/en/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <!-- Kort 4 -->
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ost_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://henriwillig.com/en/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <!-- Kort 5 -->
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ost_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://henriwillig.com/en/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
</body

{% endblock %}
