{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
</head>
<body style="background-image: url(/static/3.jpg); background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 50px;">
                <h1 style="color: rgb(0, 0, 0);">login</h1>
            </div>
        </div>
    
    <div class="mx-auto p-2" style ="margin-top: 50px; width: 500px; border-style: dashed; border-radius: 5%;">
              <div class="mb-3" style="width: 400px;">
                <label for="exampleDropdownFormEmail1" class="form-label">email addresse</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@eksempel.dk">
              </div>
              <div class="mb-3"style="width: 400px;">
                <label for="exampleDropdownFormPassword1" class="form-label">password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="password">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">husk mig</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">log ind</button>
            </form>
            <div class="dropdown-divider"></div>
            <a>har du ikke et login allerede, opret bruger <a href="/login_2">her</a></a></br>
            <a href="#">glemt password?</a>
          </div>
    </script>
</body>

{% endblock %}